{% extends "base.html" %}
{% block content %}
	<form class="text-center p-5" action="{% url 'reminder_url' client.id %}" method="post">
		<p class="h4 mb-4">Добавить напоминание</p>
		{% csrf_token %}			
			{% for field in form %}
				<div class="md-form">
					{% if field.errors %}
						<div class="alert alert-danger">
							{{ field.errors }}						
						</div>
					{% endif %}
				</div>
				{{ field }}
			{% endfor %}
		<button class="btn btn-primary my-4" type="submit">Добавить</button>
	</form>
{% endblock %}